<section class="form">
    <div class="form-text">
        <h1>Mande um oi, ligamos para você!</h1>
        <p>Preencha seus dados para que a gente possa entrar em contato.</p>
    </div>
    <div class="form-field">
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Outline form field</mat-label>
                <input matInput placeholder="Ex: Mateus Ávila Isidoro">
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
        </p>

        <p>
            <mat-form-field appearance="outline">
                <mat-label>Outline form field</mat-label>
                <input matInput placeholder="(99) 99999-9999">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
        </p>
        <button mat-raised-button class="btn-form">Peça uma reunião</button>
    </div>
</section>