/* Configurações de texto */
.form-text h1 {
    font: normal bold 3.125rem Roboto;
}

/* Posicionamento de elementos */
.form-content {
    display: block;
    width: 75%;
}

/* Configuração de formulário */
.form-control, 
.btn-form {
    width: 304px;
    height: 60px;
}

.mat-form-field {
    color: black;
}

/* Efeitos de cor do botão */
.btn-form {
    background-color: var(--success);
}

.btn-form:hover {
    background-color: var(--success-hover);
}

.btn-form:active {
    background-color: var(--success-active);
}

