<section id="form">
    <div class="form-text">
        <h1>Mande um oi, ligamos para você!</h1>
        <p>Preencha seus dados para que a gente possa entrar em contato.</p>
    </div>

    <div class="form-camp">
        <mat-form-field appearance="outline">
            <mat-label for="name">Nome Completo</mat-label>
            <input matInput type="text" class="form-control" id="name" placeholder="Ex: Mateus Ávila Isidoro">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label for="Whatsapp">Whatsapp</mat-label>
            <input matInput type="tel" class="form-control" id="Whatsapp" placeholder="(99) 99999-9999">
        </mat-form-field>
        <button mat-raised-button class="btn-form">Peça uma reunião</button>
    </div>
</section>